.container h2{
    color:rgb(169, 194, 216);
    text-align: center;
    font-size: 50px; 
    opacity: 0;
    animation: fade-in 1s ease 1 0.5s forwards;
}

@keyframes fade-in {
    to {
      transform: translate(0);
      opacity: 1;
      transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
    }
}